<mat-card class="category-card">
  <h1 mat-card-subtitle class="form-title">Add new Category</h1>
  <!-- {{category | json}} -->
  <mat-card-content>
    <form class="form-container" (ngSubmit)="formSubmit()">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Title</mat-label>
        <input
          required
          type="text"
          name="title"
          matInput
          placeholder="Enter here"
          [(ngModel)]="category.title"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label appearance="outline">Description</mat-label>
        <textarea
          name="Description"
          matInput
          placeholder="Enter your Description"
          [(ngModel)]="category.description"
          rows="15"
        ></textarea>
      </mat-form-field>
      <div class="form-actions">
        <button mat-raised-button color="primary" class="submit-button">
          Add
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
