<!-- sidebar.component.html -->
<mat-card class="card">
  <mat-action-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/admin/profile">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>
      <a mat-list-item routerLink="/admin/categories">
        <mat-icon>list</mat-icon>
        <span>Categories</span>
      </a>
      <a mat-list-item routerLink="/admin/add-category">
        <mat-icon>add_circle_outline</mat-icon>
        <span>Add Categories</span>
      </a>
      <a mat-list-item routerLink="/admin/quizzes">
        <mat-icon>quiz</mat-icon>
        <span>Quizzes</span>
      </a>
      <a mat-list-item routerLink="/admin/add-quiz">
        <mat-icon>add</mat-icon>
        <span>Add Quizzes</span>
      </a>
      <a mat-list-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-action-list>
</mat-card>
