<!-- Hero Section -->
<section class="hero">
  <img
    src="../../../assets/WC528-Test-maker-online-THUMB.png"
    alt="Hero Image"
  />
  <div class="hero-content">
    <h1>Welcome to Your Educational Institute</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
      officiis, hic ab architecto debitis quibusdam vitae, mollitia perspiciatis
      nemo explicabo, dolore repellat quaerat eum neque reiciendis adipisci.
      Deserunt, velit consequatur!
    </p>
    <button class="btn-get-started" routerLink="/signup">Get Started</button>
  </div>
</section>

<!-- Card Section -->
<section class="card">
  <h2>Why Choose Us?</h2>
  <p>Discover the advantages of studying at our institute.</p>
  <div class="card-container">
    <div class="card-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/db/IBPS_LOGO.png" alt="Feature 1 Icon" />
      <h3>Quality Education</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem,
        reprehenderit. Ab debitis error illum quidem? Repellendus dolor, quas
        consequatur possimus esse pariatur laboriosam tempora aut alias tempore!
        Beatae, deleniti architecto?
      </p>
    </div>
    <div class="card-item">
      <img src="https://i.pinimg.com/originals/6a/72/4b/6a724b9501764fd83a4abcd37b58144d.png" alt="Feature 2 Icon" />
      <h3>Experienced Instructors</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni porro
        itaque dignissimos nulla laborum dolore debitis nihil, vel quod
        cupiditate, sit laboriosam, iusto doloremque perspiciatis libero
        mollitia eligendi assumenda quo.
      </p>
    </div>
    <div class="card-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/West_Bengal_Police_Logo_%28India%29.svg/1200px-West_Bengal_Police_Logo_%28India%29.svg.png" alt="Feature 3 Icon" />
      <h3>Modern Facilities</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, quas!
        Facilis dolorem molestiae sint dignissimos modi, maxime voluptatibus ea
        aliquid illum laboriosam rerum eos cumque, pariatur vero possimus
        tempora tempore.
      </p>
    </div>
  </div>
</section>

<!-- Features Section -->
<section class="features">
  <h2>Key Features</h2>
  <p>Explore some of the features that make us unique.</p>
  <ul>
    <li>Interactive Learning Environment</li>
    <li>Flexible Class Schedules</li>
    <li>Global Networking Opportunities</li>
    <!-- Add more features as needed -->
  </ul>
</section>
